<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addProduct</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/products">
    <input type="file" name="file">
    <br>
    producttype<input type="text" name="productType" >
    <br>

    productTopType<input type="text" name="productTop">
    <br>

    productBottomType<input type="text" name="productBottom">
    <br>

    dimensionsCodes<input type="text" name="dimensionsCodes">
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
