<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addProduct</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/products/:id">
    <input type="file" name="file">
    <br>
    producttype<input type="text" name="productType">
    <br>
    productCode<input type="text" name="productCode">
    <br>
    productTopType<input type="text" name="productTopType">
    <br>
    productTopCode<input type="text" name="productTopCode">
    <br>
    productBottomType<input type="text" name="productBottomType">
    <br>
    productBottomCode<input type="text" name="productBottomCode">
    <br>
    dimensionsCodes<input type="text" name="dimensionsCodes">
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>